/*.project
/*.pydevproject
/.settings
/tools/*.pyc
/GUI/mainwindow/*.pyc
/GUI/dialogs/*.pyc
/GUI/*.pyc
/dist
/*.pyc
/build

/GUI/dialogs/__pycache__/*.pyc
/tools/__pycache__/*.pyc
/GUI/__pycache__/*.pyc
/GUI/mainwindow/__pycache__/*.pyc
/__pycache__/*.pyc
/.cache
/tools/.cache
